@model Contacto

 

@{

    ViewData["Title"] = "Contactame";

}

 

<h1>@ViewData["Title"]</h1>

 

<div class="text-center">

    <form asp-controller="Contacto" asp-action="Create">

        <div class="form-group">

            <label asp-for="Name">Nombre:</label>

            <input asp-for="Name" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Email">Email:</label>

            <input asp-for="Email" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Phone">Teléfono:</label>

            <input asp-for="Phone" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Question">Pregunta:</label>

            <input asp-for="Question" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary">Enviar Consulta</button>

    </form>

    <h1>@ViewData["Message"]</h1>

</div>