@model Contacto

 

@{

    ViewData["Title"] = "Contactame";

}

<h1>@ViewData["Title"]</h1>

 

    
<body>
<div id="contenedor" class="text-left">

    <form asp-controller="Contacto" asp-action="Create">

        <div class="form-group">

            <label asp-for="Name">Nombre:</label>

            <input asp-for="Name" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Email">Email:</label>

            <input asp-for="Email" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Phone">Teléfono:</label>

            <input asp-for="Phone" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Question">Pregunta:</label>

            <input asp-for="Question" class="form-control" />


        </div>

<button type="submit" class="btn btn-primary">Enviar Consulta</button>
        

    </form>

    <h1>@ViewData["Message"]</h1>
    

</div>
</body>  
<style>

button{
    width: 150px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  margin-left: 50%;
  transform: translateX(-50%);
}

    #contenedor{
          width: 40%;
  margin: 0 auto;

    }
.form-group{
    height: 100px;
    width: 500px;

}
  body {

    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-lluvia-pixeles_23-2148370435.jpg?w=1380&t=st=1695227572~exp=1695228172~hmac=1d5f7b3b869c6b02ad185d1b68b620a09805b1dd2697dc8c47f91b6cf7293cc6);

    
  
  }
 h1{
    color: white;
    text-align: center;
 }

 label{
    color: white;
 }
 

</style>