@model Contacto

 

@{

    ViewData["Title"] = "Contactame";

}

<h1>@ViewData["Title"]</h1>

 

    
<body>
<div class="text-center">

    <form asp-controller="Contacto" asp-action="Create">

        <div class="form-group">

            <label asp-for="Name">Nombre:</label>

            <input asp-for="Name" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Email">Email:</label>

            <input asp-for="Email" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Phone">Teléfono:</label>

            <input asp-for="Phone" class="form-control" />

        </div>

        <div class="form-group">

            <label asp-for="Question">Pregunta:</label>

            <input asp-for="Question" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary">Enviar Consulta</button>

    </form>

    <h1>@ViewData["Message"]</h1>

</div>

    
</body>



<style>
  body {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-pantalla-abstracto-lluvia-pixeles_23-2148370773.jpg?w=1380&t=st=1695144332~exp=1695144932~hmac=7b85fddccd49933621b98e28d2fe6ae6e38d85e021f72a993608258298777366);

  }
h1{
    color: white;
}
label{
    color:white;

}


</style>