@{
    ViewData["Title"] = "Home Page";
}

<body>
    

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    
</div>

</body>
</nav>

<style>
  body {
    /*background-image: url(https://www.claro.com.co/portal/co/noticias/imagenes/1668714670389-1-2-bm-juegos-de-realidad-virtual.jpg);
    background-size: cover;
   background-repeat: no-repeat;*/
   background-color: #D6BD98;
  }
 h1{
    color: yellow;
 }
</style>