@{
    ViewData["Title"] = "Home Page";
}

<body>
    

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <h2>Compra uno de nuestros mejores cursos que ofrecemos</h2>
</div>

</body>
</nav>

<style>
  body {

    background-image: url(https://i0.wp.com/cardbiss.com/wp-content/uploads/2023/05/Best-VR-Film.jpg?ssl=1);
     background-size: cover;

    background-repeat: no-repeat;
  
  }
 h1{
    color: yellow;
 }
 
 h2{
    color: white;
    line-height: 350px;
 }



</style>