
@{
    ViewData["Title"] = "Home Page";
}

    <body>

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
   
    <h2>Elije algunos de nuestros cursos que ofrecemos y comienza a crear tu videojuego</h2>

   
      
    </div>
    
</div>

</body>


<style>
 
body{
  
   width: 100%;
   background-color: #223b4f;
   background-image: url(https://i.pinimg.com/originals/d6/af/b6/d6afb6c5702631ed7e304d2ac40fb4f2.gif);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 40%;
   
}
  
 h1{
    color: yellow;
 }
 
 h2{
    color: white;
    line-height: 310px;
 }



</style>