@{
    ViewData["Title"] = "¿Quienes Somos?";
}
<h1>@ViewData["Title"]</h1>

<p>Vision</p>
"Ser líderes en la industria de videojuegos a nivel global, creando experiencias de entretenimiento innovadoras y cautivadoras que inspiren a jugadores de todas las edades y culturas. Queremos ser reconocidos por nuestro compromiso con la creatividad, la calidad y la pasión por el mundo. de los videojuegos."

<p>Mision</p>

<style>
   h1{
    text-align: center;
   }
</style>
